<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurveyDataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SurveyDbConnection" connectionString="Server=localhost;Database=survey_db;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <SurveyDataEntry.Properties.Settings>
            <setting name="serverLocal" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="bdNome" serializeAs="String">
                <value>survey_db</value>
            </setting>
            <setting name="usuario1" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="senha1" serializeAs="String">
                <value />
            </setting>
        </SurveyDataEntry.Properties.Settings>
    </userSettings>
</configuration>